<!--Footer page - Jenna McCarter-->

<footer>
    <p>&copy; @DateTime.Now.Year - Bank of the Moon</p>
    <p> &copy; 2017 | 123 Luna Lane, Crystal City, Neo Tokyo 12345, The Moon   </p>
    <p> Created by Ace Developer, Jenna McCarter</p>
</footer>
