@{
    ViewBag.Title = "Bank of the Moon | About";
}


<!--Home Page - Jenna McCarter-->

<div class="contentbox">
    <div class="contentstyling">
        <img src="../images/textsidebarLeft.png">
        <div class="content">
            <h2> About </h2>
            <p>The Bank of the Moon is the moon's first and only bank. It was founded about 5,000 years ago by Princess Serenity.</p>
            <img class="serenityImage" src="~/images/serenity.png" />
        </div>
        <img src="../images/textsidebarRight.png" >
    </div>
</div>


