@{
    ViewBag.Title = "Contact";
}
<!--Contact Page - Jenna McCarter-->


<div class="contentbox">
    <div class="contentstyling">
        <img src="../images/textsidebarLeft.png">
        <div class="content">
            <h2> Contact </h2>
            <address>
                123 Luna Lane<br />
                Crystal City, Neo Tokyo 12345<br />
                The Moon<br /><br />
                <abbr title="Phone">P:</abbr>
                999.999.9999
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@MoonBank.com">Support@MoonBank.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Info@MoonBank.com">Info@MoonBank.com</a>
            </address>
        </div>
        <img src="../images/textsidebarRight.png">
    </div>
</div>

