@{
    ViewBag.Title = "Home Page";
}

<!--Home Page - Jenna McCarter-->

<div class="contentbox">
    <div class="contentstyling">
        <img src="../images/textsidebarLeft.png">
        <div class="content">
            <h2> Bank of the Moon </h2>
            <p>Got some money? We got a place for you to put it.  @Html.ActionLink("Click here to learn more >>", "About", "Home")</p>
        </div>
        <img src="../images/textsidebarRight.png">
    </div>
</div>


<div class="contentbox">
    <div class="contentstyling">
        <img src="../images/textsidebarLeft.png">
        <div class="content">
            <h2> Questions and Comments </h2>
            <p>Got a question? We probably have an answer! @Html.ActionLink("Click here to learn more >>", "Contact", "Home")</p>
        </div>
        <img src="../images/textsidebarRight.png">
    </div>
</div>


